@import url("variables.css");
@import url("reset.css");


/* Typography */
h1,
h2,
h3,
button,
a {
  font-family: var(--primary-font-type);
	font-weight: 300;
}

h1, 
h2 {
	font-size: var(--headline-font-size);
}

a {
	font-size: var(--navigation-font-size);
}

/* Colors */ 
 body {
	background-color: var(--bg-color-dark-mode);
	color: var(--text-color-dark-mode);
 }

 .header-icon {
	width: 40px;
	height: 40px;
 }

 .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 50px;
	margin-right: 50px;
 }

 .header-intro {
	display: flex;
	align-items: center;
	gap: 20px;
 }

header a {
	padding-left: 30px;
}

.active {
	text-shadow: 4px 4px 4px #a145fe;
}


.line {
	border-bottom: 1px solid var(--text-color-dark-mode);
}

.page-width {
	margin-left: 50px;
	margin-right: 50px;
}


.container-headline {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;

}

p {
	font-family: var(--secondary-font-type);
	font-weight: 300;
	font-size: var(--paragraph-font-size);
}

.img-self {
	width: 320px;
	height: auto;
	border: 0.5px solid var(--text-color-dark-mode);
	box-shadow: 8px 8px 0 #ffffff;
}

.container-about {
	padding-top: 40px;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 30px;
	p {
		max-width: 650px;
	}
}

.primary-button {
	background-color: var(--primary-color-dark-mode);
	font-size: var(--paragraph-font-size);
	text-align: center;
	padding: 8px;
	border: 0.25px solid var(--text-color-dark-mode);
	box-shadow: 2px 2px 0 #ffffff;
	margin-right: 10px;
}

.container-projects,
.container-contact {
	margin: 0 auto;
	max-width: 1000px;
}

.container-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.tech-icon {
	width: 40px;
	height: 40px;
}

.tech-icons {
	display: flex;
	gap: 10px;
}

.card {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	padding-bottom: 40px;
	width: 450px;
	height: 520px;
	border: 1px solid var(--text-color-dark-mode);
	box-shadow: 6px 6px 0 #ffffff;
	img {
		max-width: 450px;
		height: auto;
		margin-right: 20px;
	}
	p,
	a {
		font-size: 1rem;
	}
}

.card-content {
	padding-left: 10px;
	padding-right: 10px;
}

